body {
    box-sizing: border-box;
	margin: 0;
    background-color: rgb(167, 132, 57);
    border: 5px;
}


header {
    display: block;
    float: right;
    margin: 2em auto;
    text-decoration: underline;
    text-decoration-style: double;
}
ul {
	list-style-type: none;
}

nav {
    list-style-type: inline;
    margin: 2rem;
    font-size: 1.25em;
    color: rgb(102, 11, 11);
    background-color: rgb(241, 203, 98);
    max-width: 8rem;
    position: right;
}

h1 {
    font-size: 6em;
    margin-left: 50px;
}

h2 {
    margin-left: 25px;
}

.name span {
	margin-left: 10px;
	color: white;
	size 4em;
	text-decoration: double;
}

.comments {
	margin-left: 3rem;
}
.top {
    width: 100%;
}

.end {
    border:9px double black;
    background-color: brown;
}

.pic {
    justify-content: center;
    float: left;
    display: grid;
    padding: 1rem;
}

.desc h3 span {
    display: block;
    float: left;
    padding: 1rem;

}
.clearfix::after {
	clear: both;
	content: '';
	display: block;
}

#cat {
	color: white;
}
footer {
    padding-left: 20%;
    padding-right: 20%;
    position: bottom;
    
}