<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Actors</title>
</head>
<body>
    <header>
    	<nav>
			<ul>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/reviews}">Reviews</a></li>
				<li><a th:href="@{/actors}">Actors</a></li>
			</ul>
		</nav>
    </header>
    	<ul class="name">
		<li th:each="actor : ${actors}"><a
			th:href="|@{/actors/}${actor.id}|"> <span
				th:text="${actor.actorName}"></span>
		</a></li>
	</ul>
	<img class="end" th:src="@{/img/reellong.jpg}" />
</body>
</html>